{% extends "../common/template.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">Unauthorized</h1>

  <p class="govuk-body">You do not have the required permissions to access this site!</p>

{% endblock %}
