{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form id="case-search-form" class="form" method="post" action="/search">
  {% call govukFieldset({
    legend: {
      text: "Case Audit Search",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

        {{ govukInput({
          label: {
            text: "User ID"
          },
          classes: "govuk-!-width-three-quarters",
          id: "userId",
          name: "userId",
          value: form.userId
        }) }}

        {{ govukInput({
          label: {
            text: "Case ID"
          },
          classes: "govuk-!-width-three-quarters",
          id: "caseRef",
          name: "caseRef",
          value: form.caseRef
        }) }}

        {{ govukInput({
          label: {
            text: "Time from"
          },
          classes: "govuk-!-width-three-quarters",
          id: "startTimestamp",
          name: "startTimestamp",
          value: form.startTimestamp
        }) }}

      </div>
      <div class="govuk-grid-column-one-half">

        {{ govukInput({
          label: {
            text: "Case Type ID"
          },
          classes: "govuk-!-width-three-quarters",
          id: "caseTypeId",
          name: "caseTypeId",
          value: form.caseTypeId
        }) }}

        {{ govukInput({
          label: {
            text: "Jurisdiction ID"
          },
          classes: "govuk-!-width-three-quarters",
          id: "caseJurisdictionId",
          name: "caseJurisdictionId",
          value: form.caseJurisdictionId
        }) }}

        {{ govukInput({
          label: {
            text: "Time to"
          },
          classes: "govuk-!-width-three-quarters",
          id: "endTimestamp",
          name: "endTimestamp",
          value: form.endTimestamp
        }) }}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ govukButton({
          text: "Search",
          type: "submit",
          classes: "govuk-!-width-three-quarters govuk-!-margin-top-7",
          preventDoubleClick: true,
          value: "search"
        }) }}
      </div>

      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-body govuk-!-font-size-16">
          <b>Note:</b> Please include time parameters in your search using the 'Time from' and 'Time to' fields, and enter at least one other parameter to obtain search results.
        </p>
        <p class="govuk-body govuk-body govuk-!-font-size-16">'Case Type ID' and 'Jurisdiction ID' are only available in Case Views results.</p>
      </div>
    </div>
  {% endcall %}
</form>
