{% extends "../common/template.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% block content %}
  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  {% set searchTabHtml %}
    {% include '../search/template.njk' %}
  {% endset -%}

  {% set caseViewsTabHtml %}
    {%  include '../case-activity/template.njk' %}
  {% endset -%}

  {% set caseSearchesTabHtml %}
    {% include '../case-searches/template.njk' %}
  {% endset -%}

  {{ govukTabs({
    items: [
      {
        label: "Search",
        id: "search-tab",
        panel: {
          html: searchTabHtml
        }
      },
      {
        label: "Case Activity",
        id: "case-activity-tab",
        panel: {
          html: caseViewsTabHtml
        }
      },
      {
        label: "Case Searches",
        id: "case-searches-tab",
        panel: {
          html: caseSearchesTabHtml
        }
      }
    ]
  }) }}

{% endblock %}
